/* .spice-icon {
    position: absolute;
    font-size: 30px;
    color: #aac4ab;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    animation: fall 10s linear infinite, float 6s infinite ease-in-out;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
} */

 *{
    font-family: 'Merriweather', serif !important;
}