/* .spice-icon {
    position: absolute;
    font-size: 30px;
    color: #aac4ab;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    animation: fall 10s linear infinite, float 6s infinite ease-in-out;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
} */

 *{
    /* font-family: 'Merriweather', serif !important; */
}
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  #toggle-theme {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
  }
  
  #toggle-theme:hover {
    background-color: #666; /* Lighten the button when hovered */
  }
  
  